## mako
<%namespace name='static' file='../static_content.html'/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML
from six import text_type
# App that handles subdomain specific branding
import branding
# app that handles site status messages
from status.status import get_site_status_msg
from lms.djangoapps.ccx.overrides import get_current_ccx
%>
<header class="wrapper-header-courses">
    <img style="display: inline-block" src="${static.url('images/panel-logo1.png')}">
    <h2 style="display: inline-block" class="header-courses">${_("My Courses")}</h2>
  </header>